<div id="budget-page">
    <h3 id="top-banner">Track Your Budget</h3>

    <div id="summary">
        <div id="dashboard-link">
            <% if current_user_admin?%>
                <%= link_to "Dashboard", dashboard_path %>
            <% end %>
        </div>
        <div id="login-status">
            <% if current_user %>
                <ul>
                    <li style="color:blue; font-size:1.2rem;"><%= fa_icon "user-circle" %> <strong><%= current_user.username %></strong></li>
                    <% if current_user.guest? %>
                        <%= link_to 'Sign Up', signup_path %>
                    <% else %>
                        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                    <% end %>
                </ul>
                <% else %>
                <ul>
                    <li><%= link_to "Login", 'login' %></a></li>
                    <li><%= link_to "Signup", 'signup' %></a></li>
                </ul>
            <% end %>
        </div>
        <br />
        <div id="budget-summary">
            <p>
                <% if current_user.incomes.sum(:inflow) - current_user.expenses.sum(:outflow) >= 0 %>
                    <span style="color:green;">Budget Balance <%= fa_icon "check-circle" %></span>
                <% else %>
                    <span style="color:red;">Budget Deficit <%= fa_icon "exclamation-circle" %></span>
                <% end %>
            <p>
            <h2><%= number_to_currency(current_user.incomes.sum(:inflow) - current_user.expenses.sum(:outflow))%></h2>
            <p class="summary-box income-figures">+ <%= number_to_currency(current_user.incomes.sum(:inflow)) %><p>
            <p class="summary-box expenses-figures">- <%= number_to_currency(current_user.expenses.sum(:outflow)) %></p>
        </div>
    </div>

    <div id="budget-details">
        <div id="budget-incomes">
            <%= render 'incomes/index' %>
        </div>
        <div id="budget-expenses">
             <%= render 'expenses/index' %>
        </div>
    </div>

</div>