<div id="budget-page">
    <h3 id="top-banner">Track Your Budget</h3>

    <div id="summary">
        <div id="login-status">
            <% if current_user %>
                <ul>
                    <li><%= current_user.first_name %></li>
                    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                </ul>
                <% else %>
                <ul>
                    <li><%= link_to "Login", 'login' %></a></li>
                    <li><%= link_to "Signup", 'signup' %></a></li>
                </ul>
            <% end %>
        </div>
        <div id="budget-summary">
            <p>Budget Balance<p>
            <h2><%= number_to_currency(Income.sum(:inflow) - Expense.sum(:outflow))%></h2>
            <p class="summary-box income-figures">+ <%= number_to_currency(Income.sum(:inflow))%><p>
            <p class="summary-box expenses-figures">- <%= number_to_currency(Expense.sum(:outflow))%></p>
        </div>
    </div>

    <div id="budget-details">
        <div id="budget-incomes">
            <%= render 'incomes/index' %>
        </div>
        <div id="budget-expenses">
             <%= render 'expenses/index' %>
        </div>
    </div>

</div>